extends layout

block content
    h1 #{title} #{book.title}

    if book_instances.length
        p #[strong Delete the following book intances before attempting to delete this book.]

            h4 Books Instances

            dl
            
            each instance in book_instances
                dt
                    a(href=instance.url) #{instance.book.title}: #{instance.imprint} - 
                    if instance.status=='Available'
                        dt.text-success #{instance.status}
                    else if instance.status=='Maintenance'
                        dt.text-danger #{instance.status}
                    else
                        dt.text-warning #{instance.status} 
                    if instance.status!='Available'
                        dt  (Due: #{instance.due_back_formatted})
    else
        p Do you really want to delete this Book?

        form(method='POST' action='')
            div.form-group
                input#bookid.form-control(type='hidden' name='bookid' required='true' value=book._id)
            button.btn.btn-primary(type='submit') Delete